.li {
  padding: 1rem 2rem;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.65rem;
  gap: 1rem;
  align-items: center;
  background: var(--primary);
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 19px 12px;
}

.li::before {
  position: absolute;
  content: '';
  height: 100%;
  top: 50%;
  left: -5%;
  width: 10px;
  background: var(--success);
  transform: translateY(-50%);
  transition: var(--transition);
}

.li.completed {
  text-align: center;
  position: relative;
}

.li.completed::before {
  left: 0;
}


.content {
  display: flex;
  flex-direction: column;
}


.heading,
.p {
  margin: 0.25rem 0;
  text-align: start;
  color: var(--secondary300);
  word-break: break-word;
}

.heading {
  font-weight: 600;
  color: var(--secondary);
  line-height: 1.3;
}

.button {
  align-self: center;
}